body{
    background-color: #333;
}
#top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    overflow-x: hidden;
    background-image: url('../images/pixforest.jpg');
    background-size: contain;
}
.char{
    margin: 10px 10px;
    width:100px;
    height: auto;
    display: flex;
    align-items: flex-end;
}
#geralt{
    height:250px;
}
#pooka{
    height:250px;
}
#bottom{
    border: 2px solid black;
    padding: 30px;
    font:20px impact;
    text-align: center;
}
.stats{
 height: 400px;
 width: auto;
 visibility: hidden;
}
.buttonStyle{
    background-color: white;
    border: 3px solid;
    font: 24px impact;
    font-weight:bold;
    padding: 12px 20px;
}
.buttonStyle:hover{
    background-color: aqua;
    color:white;
}
.healthLabel{
    margin: top 15px;
    font:20px;
    font-weight: bold;
    color:aqua;
}
.hpBorder{
    width:30px;
    height: 300px;
    border:auto;
}
.hpBar{
    width: 30px;
    height: 300px;
    background-color: green;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
    border: 2px solid black;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: aqua;
}
@media screen and (min-width: 600px){
	body{
		width:99%;
	}
    #top{
        width: 100%;
    }
	footer{
		width:100%;
	}
}
#controls {
    display: inline-block;
    border:2px solid black;
    visibility: hidden;
    justify-content: center;
}