#top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.char{
    margin: 10px 40px;
}
#geralt{
    height:250px;
}
#pooka{
    height:250px;
}
#bottom{
    padding: 30px;
    font:20px impact;
}
.stats{
 height: 400px;
 width: 350px;
}
.stats button{
    background-color: white;
    border: 3px solid;
    font: 24px impact;
    font-weight:bold;
    padding: 12px 20px;
}
.stats button:hover{
    background-color: aqua;
    color:white;
}
.healthLabel{
    margin: top 15px;
    font:18px;
    font-weight: bold;
}
.hpBorder{
    width:350px;
    height: 30px;
    border: 2px solid;
}
.hpBar{
    width: 300px;
    height: 30px;
    background-color: green;
}